-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "WhatsAppMessageType" AS ENUM ('chat', 'image', 'audio', 'video', 'sticker', 'voice', 'document');

-- CreateEnum
CREATE TYPE "WhatsAppConnectionStatus" AS ENUM ('idle', 'qr', 'qr_expired', 'authenticated', 'ready', 'disconnected', 'error');

-- CreateEnum
CREATE TYPE "AnalyticsEventType" AS ENUM ('USER_CREATED', 'BOT_STARTED', 'SURVEY_STARTED', 'SURVEY_COMPLETED', 'BROADCAST_SENT', 'BROADCAST_FAILED');

-- CreateTable
CREATE TABLE "ApiConnection" (
    "id" TEXT NOT NULL,
    "clid" TEXT NOT NULL,
    "apiKey" TEXT NOT NULL,
    "parkId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ApiConnection_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ApiLog" (
    "id" TEXT NOT NULL,
    "connectionId" TEXT NOT NULL,
    "method" TEXT NOT NULL,
    "requestUrl" TEXT NOT NULL,
    "requestBody" TEXT,
    "responseBody" TEXT,
    "statusCode" INTEGER NOT NULL,
    "error" TEXT,
    "durationMs" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ApiLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TelegramConnection" (
    "id" TEXT NOT NULL,
    "apiId" INTEGER NOT NULL,
    "apiHash" TEXT NOT NULL,
    "sessionString" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT false,
    "phoneNumber" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "isDefault" BOOLEAN NOT NULL DEFAULT false,
    "name" TEXT,

    CONSTRAINT "TelegramConnection_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MaxConnection" (
    "id" TEXT NOT NULL,
    "name" TEXT,
    "botToken" TEXT NOT NULL,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "isDefault" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "MaxConnection_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "WhatsAppConnection" (
    "id" TEXT NOT NULL,
    "name" TEXT,
    "status" "WhatsAppConnectionStatus" NOT NULL DEFAULT 'idle',
    "phoneNumber" TEXT,
    "sessionData" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "WhatsAppConnection_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "WhatsAppChat" (
    "id" TEXT NOT NULL,
    "connectionId" TEXT NOT NULL,
    "name" TEXT,
    "lastMessageAt" TIMESTAMP(3),

    CONSTRAINT "WhatsAppChat_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "WhatsAppMessage" (
    "id" TEXT NOT NULL,
    "chatId" TEXT NOT NULL,
    "body" TEXT NOT NULL,
    "fromMe" BOOLEAN NOT NULL,
    "timestamp" TIMESTAMP(3) NOT NULL,
    "type" "WhatsAppMessageType" NOT NULL DEFAULT 'chat',
    "mediaPath" TEXT,
    "isMediaLoaded" BOOLEAN NOT NULL DEFAULT false,
    "mediaSize" INTEGER,

    CONSTRAINT "WhatsAppMessage_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "DriverTelegram" (
    "id" TEXT NOT NULL,
    "driverId" TEXT NOT NULL,
    "telegramId" BIGINT NOT NULL,
    "username" TEXT,
    "phoneVerified" BOOLEAN NOT NULL DEFAULT false,
    "botState" TEXT NOT NULL DEFAULT 'IDLE',
    "carId" TEXT,
    "carLabel" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "DriverTelegram_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "BotChatMessage" (
    "id" TEXT NOT NULL,
    "telegramId" BIGINT NOT NULL,
    "driverId" TEXT,
    "direction" TEXT NOT NULL,
    "text" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "BotChatMessage_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "bots" (
    "id" TEXT NOT NULL,
    "token" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "username" TEXT,
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "bots_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "surveys" (
    "id" TEXT NOT NULL,
    "bot_id" TEXT NOT NULL,
    "title" TEXT NOT NULL DEFAULT '╨Э╨╛╨▓╤Л╨╣ ╨╛╨┐╤А╨╛╤Б',
    "trigger_button" TEXT NOT NULL DEFAULT 'ЁЯУК ╨Ю╨┐╤А╨╛╤Б ╨║╨░╤З╨╡╤Б╤В╨▓╨░',
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "is_linear" BOOLEAN NOT NULL DEFAULT true,
    "google_sheet_id" TEXT,
    "sync_mode" TEXT NOT NULL DEFAULT 'ON_COMPLETE',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "archived_at" TIMESTAMP(3),

    CONSTRAINT "surveys_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "questions" (
    "id" TEXT NOT NULL,
    "survey_id" TEXT NOT NULL,
    "order" INTEGER NOT NULL DEFAULT 0,
    "type" TEXT NOT NULL,
    "text" TEXT NOT NULL,
    "options" JSONB,
    "is_required" BOOLEAN NOT NULL DEFAULT true,
    "is_conversion" BOOLEAN NOT NULL DEFAULT false,
    "routing_rules" JSONB,

    CONSTRAINT "questions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "users" (
    "id" TEXT NOT NULL,
    "bot_id" TEXT NOT NULL,
    "telegram_id" BIGINT NOT NULL,
    "username" TEXT,
    "first_name" TEXT,
    "current_question_id" TEXT,
    "status" TEXT NOT NULL DEFAULT 'ACTIVE',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "answers" (
    "id" TEXT NOT NULL,
    "user_id" TEXT NOT NULL,
    "question_id" TEXT NOT NULL,
    "value" TEXT NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "answers_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "analytics_events" (
    "id" TEXT NOT NULL,
    "bot_id" TEXT NOT NULL,
    "user_id" TEXT,
    "event_type" "AnalyticsEventType" NOT NULL,
    "source_id" TEXT,
    "metadata" JSONB,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "analytics_events_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "broadcasts" (
    "id" TEXT NOT NULL,
    "bot_id" TEXT NOT NULL,
    "text" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'PENDING',
    "total_targeted" INTEGER NOT NULL DEFAULT 0,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "completed_at" TIMESTAMP(3),

    CONSTRAINT "broadcasts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "broadcast_stats" (
    "id" TEXT NOT NULL,
    "broadcast_id" TEXT NOT NULL,
    "success_count" INTEGER NOT NULL DEFAULT 0,
    "failed_count" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "broadcast_stats_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Driver" (
    "id" TEXT NOT NULL,
    "yandexDriverId" TEXT NOT NULL,
    "fullName" TEXT NOT NULL,
    "phone" TEXT,
    "licenseNumber" TEXT,
    "lastExternalPark" TEXT,
    "lastFleetCheckAt" TIMESTAMP(3),
    "lastFleetCheckStatus" TEXT,
    "lastFleetCheckId" TEXT,
    "segment" TEXT NOT NULL DEFAULT 'unknown',
    "segmentOverride" TEXT,
    "statusOverride" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "score" DOUBLE PRECISION,
    "dismissedAt" TIMESTAMP(3),
    "hiredAt" TIMESTAMP(3),
    "lastOrderAt" TIMESTAMP(3),

    CONSTRAINT "Driver_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "DriverEvent" (
    "id" TEXT NOT NULL,
    "driverId" TEXT NOT NULL,
    "eventType" TEXT NOT NULL,
    "payload" JSONB,
    "createdBy" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "DriverEvent_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "DriverAttention" (
    "id" TEXT NOT NULL,
    "driverId" TEXT NOT NULL,
    "reason" TEXT NOT NULL,
    "riskLevel" TEXT NOT NULL DEFAULT 'medium',
    "status" TEXT NOT NULL DEFAULT 'open',
    "meta" JSONB,
    "createdBy" TEXT,
    "resolvedBy" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "resolvedAt" TIMESTAMP(3),

    CONSTRAINT "DriverAttention_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "DriverDaySummary" (
    "id" TEXT NOT NULL,
    "driverId" TEXT NOT NULL,
    "date" DATE NOT NULL,
    "tripCount" INTEGER NOT NULL DEFAULT 0,
    "hadManagerMessage" BOOLEAN NOT NULL DEFAULT false,
    "hadManagerCall" BOOLEAN NOT NULL DEFAULT false,
    "hadAutoMessage" BOOLEAN NOT NULL DEFAULT false,
    "hadPromotion" BOOLEAN NOT NULL DEFAULT false,
    "hadAiAction" BOOLEAN NOT NULL DEFAULT false,
    "hadGoalAchieved" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "DriverDaySummary_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ScoringThreshold" (
    "id" TEXT NOT NULL,
    "key" TEXT NOT NULL,
    "value" INTEGER NOT NULL,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ScoringThreshold_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CommunicationEvent" (
    "id" TEXT NOT NULL,
    "driverId" TEXT NOT NULL,
    "channel" TEXT NOT NULL,
    "direction" TEXT NOT NULL,
    "eventType" TEXT NOT NULL,
    "content" TEXT,
    "metadata" JSONB,
    "createdBy" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "CommunicationEvent_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CommunicationTrigger" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "condition" TEXT NOT NULL,
    "threshold" INTEGER NOT NULL,
    "action" TEXT NOT NULL,
    "messageTemplate" TEXT,
    "channel" TEXT NOT NULL DEFAULT 'telegram',
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "CommunicationTrigger_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ManagerTask" (
    "id" TEXT NOT NULL,
    "driverId" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "priority" TEXT NOT NULL DEFAULT 'medium',
    "status" TEXT NOT NULL DEFAULT 'open',
    "triggerId" TEXT,
    "metadata" JSONB,
    "createdBy" TEXT,
    "resolvedBy" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "resolvedAt" TIMESTAMP(3),

    CONSTRAINT "ManagerTask_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "DailyParkStats" (
    "id" TEXT NOT NULL,
    "date" DATE NOT NULL,
    "activeDrivers" INTEGER NOT NULL DEFAULT 0,
    "totalTrips" INTEGER NOT NULL DEFAULT 0,
    "driversAtRisk" INTEGER NOT NULL DEFAULT 0,
    "sleepingDrivers" INTEGER NOT NULL DEFAULT 0,
    "promotionsActive" INTEGER NOT NULL DEFAULT 0,
    "profitableCount" INTEGER NOT NULL DEFAULT 0,
    "mediumCount" INTEGER NOT NULL DEFAULT 0,
    "smallCount" INTEGER NOT NULL DEFAULT 0,
    "reactivatedDrivers" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "DailyParkStats_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "WhatsAppChat_id_connectionId_key" ON "WhatsAppChat"("id", "connectionId");

-- CreateIndex
CREATE UNIQUE INDEX "WhatsAppMessage_id_chatId_key" ON "WhatsAppMessage"("id", "chatId");

-- CreateIndex
CREATE UNIQUE INDEX "DriverTelegram_driverId_key" ON "DriverTelegram"("driverId");

-- CreateIndex
CREATE UNIQUE INDEX "DriverTelegram_telegramId_key" ON "DriverTelegram"("telegramId");

-- CreateIndex
CREATE UNIQUE INDEX "bots_token_key" ON "bots"("token");

-- CreateIndex
CREATE UNIQUE INDEX "users_bot_id_telegram_id_key" ON "users"("bot_id", "telegram_id");

-- CreateIndex
CREATE INDEX "analytics_events_bot_id_created_at_idx" ON "analytics_events"("bot_id", "created_at");

-- CreateIndex
CREATE INDEX "analytics_events_bot_id_event_type_created_at_idx" ON "analytics_events"("bot_id", "event_type", "created_at");

-- CreateIndex
CREATE UNIQUE INDEX "broadcast_stats_broadcast_id_key" ON "broadcast_stats"("broadcast_id");

-- CreateIndex
CREATE UNIQUE INDEX "Driver_yandexDriverId_key" ON "Driver"("yandexDriverId");

-- CreateIndex
CREATE INDEX "Driver_fullName_idx" ON "Driver"("fullName");

-- CreateIndex
CREATE INDEX "Driver_segment_idx" ON "Driver"("segment");

-- CreateIndex
CREATE INDEX "DriverEvent_driverId_createdAt_idx" ON "DriverEvent"("driverId", "createdAt");

-- CreateIndex
CREATE INDEX "DriverEvent_eventType_idx" ON "DriverEvent"("eventType");

-- CreateIndex
CREATE INDEX "DriverAttention_status_createdAt_idx" ON "DriverAttention"("status", "createdAt" DESC);

-- CreateIndex
CREATE INDEX "DriverAttention_driverId_idx" ON "DriverAttention"("driverId");

-- CreateIndex
CREATE INDEX "DriverDaySummary_date_idx" ON "DriverDaySummary"("date");

-- CreateIndex
CREATE INDEX "DriverDaySummary_driverId_date_idx" ON "DriverDaySummary"("driverId", "date");

-- CreateIndex
CREATE UNIQUE INDEX "DriverDaySummary_driverId_date_key" ON "DriverDaySummary"("driverId", "date");

-- CreateIndex
CREATE UNIQUE INDEX "ScoringThreshold_key_key" ON "ScoringThreshold"("key");

-- CreateIndex
CREATE INDEX "CommunicationEvent_driverId_createdAt_idx" ON "CommunicationEvent"("driverId", "createdAt" DESC);

-- CreateIndex
CREATE INDEX "CommunicationEvent_eventType_idx" ON "CommunicationEvent"("eventType");

-- CreateIndex
CREATE INDEX "ManagerTask_status_priority_createdAt_idx" ON "ManagerTask"("status", "priority", "createdAt" DESC);

-- CreateIndex
CREATE INDEX "ManagerTask_driverId_idx" ON "ManagerTask"("driverId");

-- CreateIndex
CREATE UNIQUE INDEX "DailyParkStats_date_key" ON "DailyParkStats"("date");

-- AddForeignKey
ALTER TABLE "ApiLog" ADD CONSTRAINT "ApiLog_connectionId_fkey" FOREIGN KEY ("connectionId") REFERENCES "ApiConnection"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WhatsAppChat" ADD CONSTRAINT "WhatsAppChat_connectionId_fkey" FOREIGN KEY ("connectionId") REFERENCES "WhatsAppConnection"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WhatsAppMessage" ADD CONSTRAINT "WhatsAppMessage_chatId_fkey" FOREIGN KEY ("chatId") REFERENCES "WhatsAppChat"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "surveys" ADD CONSTRAINT "surveys_bot_id_fkey" FOREIGN KEY ("bot_id") REFERENCES "bots"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "questions" ADD CONSTRAINT "questions_survey_id_fkey" FOREIGN KEY ("survey_id") REFERENCES "surveys"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "users" ADD CONSTRAINT "users_bot_id_fkey" FOREIGN KEY ("bot_id") REFERENCES "bots"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "answers" ADD CONSTRAINT "answers_question_id_fkey" FOREIGN KEY ("question_id") REFERENCES "questions"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "answers" ADD CONSTRAINT "answers_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "analytics_events" ADD CONSTRAINT "analytics_events_bot_id_fkey" FOREIGN KEY ("bot_id") REFERENCES "bots"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "analytics_events" ADD CONSTRAINT "analytics_events_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "broadcasts" ADD CONSTRAINT "broadcasts_bot_id_fkey" FOREIGN KEY ("bot_id") REFERENCES "bots"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "broadcast_stats" ADD CONSTRAINT "broadcast_stats_broadcast_id_fkey" FOREIGN KEY ("broadcast_id") REFERENCES "broadcasts"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DriverEvent" ADD CONSTRAINT "DriverEvent_driverId_fkey" FOREIGN KEY ("driverId") REFERENCES "Driver"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DriverAttention" ADD CONSTRAINT "DriverAttention_driverId_fkey" FOREIGN KEY ("driverId") REFERENCES "Driver"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DriverDaySummary" ADD CONSTRAINT "DriverDaySummary_driverId_fkey" FOREIGN KEY ("driverId") REFERENCES "Driver"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CommunicationEvent" ADD CONSTRAINT "CommunicationEvent_driverId_fkey" FOREIGN KEY ("driverId") REFERENCES "Driver"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ManagerTask" ADD CONSTRAINT "ManagerTask_driverId_fkey" FOREIGN KEY ("driverId") REFERENCES "Driver"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

